.findPaintsBody {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw;
}

.findButton {
  background-color: #ECF4FE;
  border: 0px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  filter: drop-shadow(0 1px 1px black);
  transition: filter .2s;
}

.findButton:hover {
  filter: drop-shadow(0 5px 5px black);
}
