.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 25px;
}

.helpParadeOpened {
  position: absolute;
  width: 100vw;
}


@media (max-width: 600px) {
  .helpParadeOpened {
    top: calc(195vw + 70px);
  }
}

@media (min-width: 600px) {
  .helpParadeOpened {
    top: calc(100vw + 70px);
  }
}

@media (min-width: 800px) {
  .helpParadeOpened {
    top: calc(70vw + 70px);
  }
}

.question {
  height: 100%;
  fill: #ECF4FE;
  padding: 5px;
  stroke: gray;
  stroke-width: .11px;
  stroke-linejoin: round;
  transition: filter .2s;
}

.helpWindow {
  z-index: 100;
  position: fixed;
  top: 2.5vw;
  width: 95vw;
  height: calc(100vh - 5vw);
  border-radius: 3vw;

  background-color: rgba(255,255,255, .5);
  /* filter: drop-shadow(0px 0px 1px rgba(0,0,0,.1)); */
  backdrop-filter: blur(10px);
  font-family: "Gill Sans", sans-serif;
  align-items: center;
  overflow: scroll;
}

p {
  margin: auto;
  text-align: left;
}


@media (max-width: 600px) {
  p {
    width: 80%;
    font-size: 6vw;
  }
  h1 {
    font-size: 9vw;
  }
  h2 {
    font-size: 6vw;
  }
}

@media (min-width: 600px) {
  p {
    width: 67%;
    font-size: 3vw;
  }
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 5vw;
  }
}

@media (min-width: 800px) {
  p {
    width: 50%;
    font-size: 2vw;
  }
  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 4vw;
  }

}




.center{
  text-align: center;
}

a {
  color: grey;
}
