.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 25px;
}

.helpParadeOpened {
  position: absolute;
  top: 76vw;
  width: 100vw;
}

.question {
  /* margin: 1px; */
  /* size: 100px; */
  height: 100%;
  /* height: 60px; */
  fill: #ECF4FE;
  padding: 5px;
  stroke: gray;
  stroke-width: .11px;
  stroke-linejoin: round;
  transition: filter .2s;
}
