body {
  align-content: center;
  align-items: center;
  text-align: center;
}

.Place {
  padding-top: 5vh;
}

.swatches {
 width: 30vw;
 /* height: 30vw; */
 border-radius: 3vw;
 overflow: hidden;
 animation: swatchesEnterAnimation ease 1s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 font-family: "Gill Sans", sans-serif;
 font-size: 1.2em;
}

@keyframes swatchesEnterAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: swatchEnterAnimation ease 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes swatchEnterAnimation {
  0% {
      height: 0vw;
  }
  100% {
      height: 6vw;
  }
}

