:root {
  --swatch-height: 6vw
}

body {
  align-content: center;
  align-items: center;
  text-align: center;
}

.Place {
  padding-top: 5vh;
}

.swatches {
 margin-top: 2.5vh;
 width: 30vw;
 border-radius: 3vw;
 overflow: hidden;
 animation: swatchesEnterAnimation ease 1s;
 animation-iteration-count: 1;
 animation-fill-mode: forwards;
 font-family: "Gill Sans", sans-serif;
 font-size: 1.2em;
 transition: width .1s, height .1s;
 -webkit-perspective: 1000;
 -webkit-backface-visibility: hidden;
}


@media (max-width: 600px) {
  .swatches {
    width: 90vw;
  }
  .swatchesOpened {
    height: 90vw;
  }
  :root {
    --swatch-height: calc(90vw / 5);
  }
}

@media (min-width: 600px) {
  .swatches {
    width: 45vw;
  }
  .swatchesOpened {
    height: 45vw;
  }
  :root {
    --swatch-height: calc(45vw / 5);
  }
}

@media (min-width: 800px) {
  .swatches {
    width: 30vw;
  }
  .swatchesOpened {
    height: 30vw;
  }
  :root {
    --swatch-height: calc(30vw / 5);
  }
}

@keyframes swatchesEnterAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.swatch {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: swatchEnterAnimation ease 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.blackText {
  color: black;
}

@keyframes swatchEnterAnimation {
  0% {
      height: 0vw;
  }
  100% {
      height: var(--swatch-height);
  }
}
