.selectMenu {
  background-color: #ECF4FE;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .5));
  /* height: 7vh; */
  font-size: 24px;
  font-family: "Gill Sans", sans-serif;
}

.selectMenu:hover {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
}
