.settingsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 25px;
}

.settingsRowParadeOpened {
  position: absolute;
  top: 70vw;
  width: 100vw;
}

.settingsRow > * {
  margin-right: 10px;
  margin-left: 10px;
}

.context {
  vertical-align: middle;
  padding-bottom: 5vh;
}


.gear {
  /* margin: 1px; */
  /* size: 100px; */
  height: 100%;
  fill: #ECF4FE;
  padding: 5px;
  stroke: gray;
  stroke-width: .1px;
  stroke-linejoin: round;
  transition: filter .2s;
}

.gear:hover,
.gear:focus {
  filter: drop-shadow(0 0px 1px rgba(0, 0, 0, 1));
}

.setting {
  padding: 5px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100px;
}

.selectMenu {
  background-color: #ECF4FE;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  filter: drop-shadow(0 0px 1px rgba(0, 0, 0, .5));
  /* height: 7vh; */
  font-size: 24px;
  font-family: "Gill Sans", sans-serif;
}

.selectMenu:hover {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 1));
}

