:root {
  --toastify-color-light: #ECF4FE;
  --toastify-font-family: font-family: "Gill Sans", sans-serif;
  --toastify-text-color-light: black;
}

.colorBar {
 border-radius: 3vw;
 flex: auto;
 display: flex;
 overflow: hidden;
 transition: width .1s, height .1s;
}

@media (max-width: 600px) {
  .colorBar {
    width: 90vw;
    height: 90vw;
  }
}

@media (min-width: 600px) {
  .colorBar {
    width: 45vw;
    height: 45vw;
  }
}

@media (min-width: 800px) {
  .colorBar {
    width: 30vw;
    height: 30vw;
  }
}


.colorVariation {
  flex: 1;
}

.colorOrignal {
 flex: 1;
}


.gridContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: repeat(7, calc(100% / 7));
  text-align: center;
  align-items: center;
}

.gridCell {
  height: 100%;
  width: 100%;
}



.underHex {
  text-align: center;
}

.rgbHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rgbElement {
  width: 30%;
 height: 10px;
 border-radius: 5%;
 margin: 1.5%;
 flex: auto;
 text-align: center;
}
