.colorBar {
 width: 30vw;
 height: 30vw;
 border-radius: 10%;
 flex: auto;
}

.colorVariation {
  width: 14%;
  height: 14%;
}

.colorOrignal {
 width: 16%;
 height: 16%;
}

.underHex {
  text-align: center;
}

.rgbHolder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rgbElement {
  width: 30%;
 height: 10px;
 border-radius: 5%;
 margin: 1.5%;
 flex: auto;
 text-align: center;
}
